@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
header {
    display: flex;
    background-color: #2D3648;
    width: 98%;
    margin: 1rem;
    padding: 2rem;
    justify-content: center;
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.mainPage {
    display: flex;
    justify-content: space-around;
    flex-direction: row nowrap;
    margin: 0 10%;
}
.input{
    width:48%;
    background-color: #D9D9D9;
    height: 75vh
}
.input h2{
    margin-left: 35%;
}
.input div{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 40%;
}
/* .input button{
    width: 90%;
    background-color:#2D3648;
    color: white;
    margin-left: 10%;
    margin-right: 10%
} */
.pieChart{
    /* width: 428%; */
    background-color: #D9D9D9;
  
    Width:40vw;
    border-radius: 1rem;

}

 input{
    border-radius: .2rem;
    padding: 4%;
    height: 8%;
    width: 100%;
}

.information {
    width: 66%;
    background-color: #D9D9D9;
    font-size: large;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 150%;
}

button {
    background-color: #2D3648;
    color: white;
    padding: .25rem;
    font-size: large;
    border-radius: .5rem;
}

#next {
    height: 7%;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 51rem;
    padding: 1rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
}

p {
    font-size: large;
}